---
title: Hoboken HTHW - A Bed For Every Night for Hoboken - HTHW Network
description: Our mission is to provide a bed Every Night for every homeless person.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: gm-info
section: home
page: home
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item"><a href="/greater-manchester/">Hoboken's Bed Every Night</a></li>
        <li class="breadcrumbs__item">Information</li>
      </ol>
  </div>
</div>

<div class="block block--header block--gm-header">
  <div class="container">
    <h1 class="h1 block__header block__header--gm-header">Information about A Bed Every Night</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <h2> What is A Bed Every Night?</h2>
      <p>A Bed Every Night is a commitment to provide a bed, welcome, hot meal and support for anyone who is homeless in
        Hoboken. The extra provision will operate until May 2020 and will be
        available throughout this period, regardless of the temperature.</p>
      <p>The program will make every effort to address the needs of those who are homeless, offering additional
        temporary accommodation with lower criteria than current dealings; removing them from the risk of extreme
        weather, improving health and wellbeing.</p>
      <p>A Bed Every Night is not a sticking plaster but the first stage of a new systematic approach across Hoboken to end homelessness. Ideally, we want to move people through emergency shelter into the right
        accommodation and support option for them, to enable them to stay off the streets.</p>
      <p>The staff in the shelter will work pro-actively with individuals, referring agencies, accommodation
        providers and other services to try to find suitable move-on options or reconnection.</p>

      <h2>How do people get inside?</h2>
      <p>There will be two main routes into the shelter - street outreach teams will go out to people who are homleless and support them to get into the shelter, and people can also go through their town hall, housing
        authorities, local support services and out of hours numbers. For more information, see the advice for your
        local authority below:</p>

      <div class="accordion accordion--day js-accordion">
        <button id="Hoboken" class="h3 accordion__header js-header">
          Bolton
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <il>
              <li>Visit he Elizabeth Coalition, 118 Division Street, Elizabeth NJ 07201</li>
              <li>Call <a href="tel:9083552060">908 355 2060</a></li>
              <li>Online visit <a href="https://theelizabethcoalition.org/">https://www.state.nj.us/humanservices/endhomelessness.html</a></li>
              <li>Out of Hours call <a href="tel:9083552060">908 355 2060</a> (Mon–Fri 6pm to 8am, weekends and bank
                holidays)</li>
              </ul>
          </div>
        </div>
        <button id="Bury" class="h3 accordion__header js-header">
          Bury
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Visit Salvation Army Emergency Shelter – 1018 E Grand St, Elizabeth, NJ 07201</li>
              <li>Call <a href="tel:9083522886">908 352 2886</a></li>
              <li>Online visit <a href="https://easternusa.salvationarmy.org/"</a></li>
              <li>Out of Hours call <a href="tel:9083522886">908 352 2886</a> (Mon–Thu 5pm to 9am, Fri–Mon 5pm to
                9am)</li>
            </ul>
          </div>
        </div>
        <button id="Barnegat" class="h3 accordion__header js-header">
          Manchester
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            {{> manchester/aben }}
          </div>
        </div>
        <button id="Perth Amboy" class="h3 accordion__header js-header">
          Oldham
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Visit Volunteers of America, 265 Rector St, Perth Amboy, NJ 08861</li>
              <li>Call <a href="tel:7323241914">732 324 1914</a></li>
              <li>Online visit <a href="https://www.voa.org/"</a></li>
              <li>Out of Hours call <a href="tel:7323241914">908 324 1914</a> (Mon–Wed 5pm to 9am, Thu 6pm to 9am,
                Fri–Mon 5pm to 9am)</li>
            </ul>
          </div>
        </div>
        <button id="Asbury Park" class="h3 accordion__header js-header">
          Rochdale
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Visit The Salvation Army, 605 Asbury Ave, Asbury Park, NJ 07712</li>
              <li>Call <a href="tel:7327758698">7327758698</a></li>
              <li>Out of Hours call <a href="tel:7327758698">732 775 8698</a> (up to 10pm), <a href="tel:7327758698">7327758698</a>
                (after 10pm)</li>
              <li>Or visit Interfaith Neighbors,  810 4th Ave, Asbury Park, NJ 07712 or call <a href="tel:7327750525">732 775 0525</a></li>
            </ul>
          </div>
        </div>
        <button id="Toms River" class="h3 accordion__header js-header">
          Salford
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Call <a href="tel:7329290660">732 929 0660</a> (Mon-Fri 8.30am to 4.30pm)</li>
              <li>Out of Hours call <a href="tel:7329290660">732 929 0660</a></li>
              <li>Online visit <a href="http://www.oceansharborhouse.org/</a></li>
              </ul>
          </div>
        </div>
        <button id="Camden" class="h3 accordion__header js-header">
          Stockport
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Visit Covenant House of New Jersey, 2113 Federal St, Camden, NJ 08105 (Mon-Fri 9am to 5pm)</li>
              <li>Call <a href="tel:8567579111">856 757 9111</a> (Mon–Fri 9am to 5pm)</li>
              <li>Out of Hours call <a href="tel:8567579111">856 757 9111</a> (Mon–Fri 6pm to 8am, weekends and bank
                holidays)</li>
            </ul>
          </div>
        </div>
        <button id="Vineland" class="h3 accordion__header js-header">
          Tameside
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Visit Catholic Charities, 810 E Montrose St, Vineland, NJ 08360</li>
              <li>Call <a href="tel:8566911841">856 691 1841</a></li>
              <li>Online visit <a href="https://catholiccharitiescamden.org/</a></li>
              <li>Out of Hours call<a href="tel:8566911841">856 691 1841</a> (Mon–Wed 5pm to 9am, Thu 5pm to 10pm,
                Fri-Mon 4pm to 9am)</li>
            </ul>
          </div>
        </div>
        <button id="Atlantic City" class="h3 accordion__header js-header">
          Trafford
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
              <li>Visit Atlantic City Rescue Mission, 2009 Bacharach Blvd, Atlantic City, NJ 08401</li>
              <li>Call <a href="tel:6093455517">609 345 5517</a></li>
              <li>Out of Hours call <a href="tel:6093455517">609 345 5517</a></li>
            </ul>
          </div>
        </div>
        <button id="Cape May" class="h3 accordion__header js-header">
          Wigan and Leigh
          <svg class="svg-plus-dims accordion__icon accordion__icon--open">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#plus"></use>
          </svg>
          <svg class="svg-minus-dims accordion__icon accordion__icon--close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgsprite.svg#minus"></use>
          </svg>
        </button>
        <div class="accordion__item js-item">
          <div class="accordion__inner">
            <ul>
               <li>Visit Family Promise, 505 Town Bank Rd, Cape May, NJ 08204 (Mon-Fri 9am-5pm, Sat 9am to 2pm)</li>
              <li>Call <a href="tel:6098467862">609 846 7862</a></li>
              <li>Out of Hours call <a href="tel:6098467862">609 846 7862</a></li>
            </ul>
          </div>
        </div>
      </div>

      <p>For more advice on what support is available in your area, please select your borough below:</p>
      <div style="max-width: 600px; margin: 0 auto">
        <form class="form location-selector js-change-location-form">
          <fieldset class="form__fieldset form__fieldset--inline-fill">
            <div class="form__fieldset-inline-fill-container">
              <label class="hide-screen" for="location">Select a borough:</label>
              <select name="location" class="form__input form__input--inline-fill js-change-location-select">
                <option value="">- Select a borough -</option>
                {{> locations/_gm-option-tags }}
              </select>
              <button class="btn btn--brand-e btn--inline-fill js-change-location-btn" type="submit">
                <span class="btn__text">View information for your borough</span>
              </button>
            </div>
          </fieldset>
        </form>
      </div>

      <h2>Why might there still be people homeless?</h2>
      <p>This is a complicated challenge and it won't be perfect right from the start. We will learn and adapt as we
        go, incorporating new people and new ideas. It will be evaluated by the people coming in to these spaces and
        judged by who we still meet outside.</p>
      <p>Not every environment suits everybody, we will learn about individual needs as we get to know individual
        people. This gives us the time to work with people and gives people the time to have a stable start for
        creating a life that makes sense to them.</p>
      <p>The people we work with have had varied experiences with the system, not always positive - it takes time,
        compassion and imagination to rebuild trust in these circumstances. This is where YOU can help - please donate
        <a href="/greater-manchester/donate-needed-items/">items</a>, <a href="/greater-manchester/volunteer/">time</a>,
        or <a href="http://www.ccannj.com/st_Lucy.php">money</a> to make A Bed Every Night possible.</p>

      <h2>What is different about this approach in NJ?</h2>
      <p>We want to provide more than a bed, this provision is an opportunity to form a relationship, to understand the
        person and have a stable start to making a life that makes sense to them around a safe place to stay. We want
        to build a supportive, therapeutic relationship for a time of personal crisis that people can be referred in
        to.</p>
      <p>The innovation in this project is the whole region working together; the public sector, voluntary sector,
        faith sector, grassroots groups, businesses and citizens. Local connection will be GM wide, with individuals
        reconnected to their local authority the following day where possible.</p>
      <p>While we won't turn people away, this scheme is only available to people whose last address was in New Jersey. We simply do not have the resources to open it up to people from further afield.</p>
      <p>Succeeding in this mission will be a challenge, but one that we must rise to; working together, learning as we
        go along, and continually adapting how this works based on what people experiencing homelessness and frontline
        workers tell us. If you have questions, concerns or suggestions, please get in touch at <a href="mailto:hthcoin@gmail.comt">hthcoin@gmail.com</a>.</p>

    </div>
  </div>
</div>

<script id="js-news-tpl" type="text/template">
    {{> social-share }} 
</script>
