---
title: Severe Weather Emergency Accommodation in Elizabeth - HTHW
description: Severe Weather Emergency Accommodation provision in Elizabeth.
image: https://streetsupport.net/assets/img/og/street-support-liverpool.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: elizabeth
page: elizabeth-advice
location: elizabeth
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/liverpool/">Elizabeth</a></li>
      <li class="breadcrumbs__item"><a href="/liverpool/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="elizabeth" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Elizabeth Coalition Homeless provides humanitarian needs to the homeless over the winter period, during periods of severe weather. This provision involves the operation of the City’s Severe Weather Provision, which opens when trigger temperatures are reached or other severe weather events are predicted.</p>
      <p>Due to a range of issues and in order to ensure that access to the service can be co-ordinated between the homeless, the Elizabeth Coalition Homeless and other referrers, it has been necessary to co-ordinate access Out service on <a href="tel:908 123 2041">0300 355 2060</a>. This will better manage the impact for the shelter provider/s and their residents. </p>
      <h2 class="h2">When is the Elizabeth Coalition Homeless Open & What is Offered?</h2>
      <p>The Elizabeth Coalition Homeless is open to the homeless from 7pm through to 8am the following morning when:</p>
      <ul>
        <li>
          Temperatures of 32 Degrees Farenhiet or less are predicted on any night (as per the long range weather forecast).
        </li>
        <li>
          A State of Emergency has been issued as severe or hazardous weather is predicted which has the potential to cause damage, widespread disruption and/or danger to life, for example, high winds, storms, hurricanes, heavy snow.
        </li>
        <li>
          When a State of Emergency has been issued, a decision will be made by the Elizabeth Coalition Homeless emergency out of hours protocol co-ordinated through their policies.
        </li>
      </ul>
    <p>The service will remain open every night until overnight temperatures increase to above 32 degrees Farenhiet / the Severe Weather event warning has passed.</p>
    <p>The service provides safe shelter, warmth and support for the homeless.</p>
    <p>Support is given to help the homeless access accommodation, as well as advice and signposting to health, substance misuse, benefits and other agencies.</p>
    <h2 class="h2">Who has access during severe weather?</h2>
    <p>This is only for the homeless who would otherwise be sleeping out if shelter was not available. The service aims to be as inclusive as possible and will manage risk on a case by case basis to ensure the most excluded individuals can be admitted each night.</p>
    <h2 class="h2">How will agencies and rough sleepers know when the centre will be open?</h2>
    <p>The Outreach Manager contacts key agencies once a decision to open has been made and is advertised via <a href="https:/https://theelizabethcoalition.org/">TheElizabeth Coalition's website</a></p>
    <p>The Elizabeth Coalition’s Outreach Team undertakes street outreach to notify all known homeless.</p>
    </div>

    {{> social-share}}

  </div>
</div>
