---
title: Severe Weather Emergency Accommodation in Freehold - HTHW
description: Severe Weather Emergency Accommodation provision in Freehold.
image: https://streetsupport.net/assets/img/og/street-support-bournemouth.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: freehold
page: freehold-advice
location: freehold
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/bournemouth/">Freehold</a></li>
      <li class="breadcrumbs__item"><a href="/bournemouth/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="freehold" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Severe Weather Emergency Shelter Protocol for Freehold has been triggered, and will remain in place until further notice.</p>

      <p>The meeting point for the Freehold shelter is Open Door at 8:15pm.</p>

      <p>The address for Open Door shelter in Freehold is 39 Throckmorton St, Freehold, NJ 07728.</p>

    </div>

    {{> social-share}}
    
  </div>
</div>
