---
title: Volunteer - HTHW
description: Lend your time and skills to organizations near you helping tackle homelessness
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: volunteer
section: home
page: home
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/greater-manchester/">HTHW Volunteer</a></li>
      <li class="breadcrumbs__item">Volunteer</li>
    </ol>
  </div>
</div>
{{> no-js}}

<div class="block block--header block--gm-header">
  <div class="container">
    <h1 class="h1 block__header block__header--gm-header">Offer your time and skills</h1>
  </div>
</div>

<div class="block block--minor-highlight">
  <div class="container">
    <div class="block__content">
			<h1 class="h1">A Bed Every Night - HTHW Volunteers Needed</h1>
       <p>Are you able to support this mission? Please register as a volunteer and help us provide a Bed Every Night. Opportunities will be updated over time, the co-ordinator in your area will be in touch when they need additional volunteers.</p>

      <h2>Volunteers at St Lucy's</h2>
      <pCatholic Charities has many volunteer opportunities available within our service areas. Please contact Sharon Reilly-Tobin, Director of Volunteer Services, at stobin@ccannj.org or at (908) 497-4013. 
.</p>
      <p>We also need volunteers to be available to collect / receive deliveries of donations of hot food for those accessing the provision.</p>
      <p>Longer term we would be looking for volunteers to offer peer support and basic advice to help people moving on to other accommodation.</p>

      <h2>Volunteers at Hoboken Shelter</h2>
      <p>For more information about volunteering, please call us at 201-656-5069 or email us at getinvolved@hobokenshelter.org.</p>

      <h2>Volunteers at Elizabeth Coalition</h2>
      <p>Please visit this link, Elizabeth Coalition is always in the need of volunteers https://theelizabethcoalition.org/contact/</p>
      <h2 class="h2">Objectives</h2>
      <ul>
        <li>To establish supportive relationships with adults experiencing homelessness</li>
        <li>To support staff with operations relating to the volunteer services, i.e. food preparation, laundry, cleaning, taking details</li>
      </ul>
      <h2 class="h2">Training and Preparation</h2>
      <ul>
        <li>Previous experience working with young people or adults with complex needs is useful but not a requirement</li>
        <li>You will receive Safeguarding training and the opportunity to shadow support staff on site</li>
        <li>You will receive a full Health and Safety briefing at the location in which you are volunteering</li>
        
      </ul>

    </div>
  </div>
</div>

{{> give-help/volunteer-form }}
