---
title: Our Trustees and Advisors - HTHW
description: HTHW makes it easier to help people facing homelessness. Meet our trustees and advisors.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: trustees
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about/">About HTHW</a></li>
      <li class="breadcrumbs__item">Our Trustees and Advisors</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Our Trustees and Advisors</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>Alongside our core team, we have fantastic Trustees and Advisors with a range of skills & experiences to guide our decisions.</p>

    	<h2>Trustees</h2>

      <article class="team__member">
        <div class="team__member-title team__member-title--catherine">
          <h2 class="h2">Michael Howlett</h2>
        </div>
        <p>As the Director of HTHW, the objective is to ensure the homeless come first. My own personal dealings with homelessness led me to start helping others.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--jez">
          <h2 class="h2">Patricia Howlett</h2>
        </div>
        <p>As a trustee, Patricia ensures that HTHW stays on track with fundraisers, charity events, coordination with organizations outside of HTHW. Partricia also maintains a health care professional opinion and can help where needed in the healthcare field.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--gill">
          <h2 class="h2">Norma Shea</h2>
        </div>
        <p>As a trustee Norma ensures that the donations and funding of HTHW as well as daily operations are maintained. Norma is a retired Registerd Nurse who can help Patricia facilitate healthcare needs.</p>
     
      </article>

      {{> divider }}

      <h2>Advisors</h2>

      <article class="team__member">
        <div class="team__member-title team__member-title--charles">
          <h2 class="h2">Stian Folestaad</h2>
        </div>
        <p>As an Advisor to HTHW, Stian helps with the digital currency integration to HTHW by providing sources needed to maintain a healthy, secure blockchain for our donors.</p>
       
      </article>

      {{> social-share}}
    </div>
  </div>
</div>
