---
title: Severe Weather Emergency Accommodation in Newark - HTHW
description: Severe Weather Emergency Accommodation provision in Newark.
image: https://streetsupport.net/assets/img/og/street-support-leeds.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: newark
page: newark-advice
location: newark
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/leeds/">Newark</a></li>
      <li class="breadcrumbs__item"><a href="/leeds/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="newark" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <p>During periods of severe cold weather, additional emergency accommodation is provided by the council).</p>
      <p>The Council has signed up to a long standing government protocol to find accommodation for any person who requires it, irrespective of legal duty, when the temperature is forecast to be below zero for two nights in succession.</p>
      <p>The Newark approach <em>exceeds the government protocol described above</em>, in that the arrangements are activated if the temperature is forecast to be below zero for one night and are not suspended until the first standard working day after the temperature has risen above zero. This means that during the period that Severe Weather Provision (SWP) arrangements are in place, no one needs to sleep on the streets of Newark.</p>
    </div>
  </div>
</div>


<div class="block block--highlight">
  <div class="container">
    <div class="block__content">
      <h2 class="h1 best-practice__header">Referring someone in need of help</h2>

      <h2 class="h2">During Office Hours (Tuesday – Thursday 9am - 5pm</h2>

      <p>Approaches are made via physical presentation at Apostles House located at 24 Grant St, Newark, NJ 07104. </p>

      <h2 class="h2">Out of Hours</h2>

      <p>Out of hours placements are made through ‘Out of hours’ response on 973 350-9715.</p>
      <p>The public can also notify the Street Outreach Team in Newark if they are worried about the homeless – contact can be made with at 973 350-9715 or email via on <a href="mailto:victoria.griffith@theapostleshouse.org">victoria.griffith@theapostleshouse.org</a>. The Street Outreach Team work closely with the local authority to obtain suitable accommodation for the homeless and are in operation between 23.00 – 2.00 during the severe weather conditions.</p>
    </div>
  </div>
</div>


<div class="block">
  <div class="container">
    <div class="block__content">
      {{> social-share}}
    </div>
  </div>
</div>
