---
title: Severe Weather Emergency Accommodation in New Brunswick - HTHW
description: Severe Weather Emergency Accommodation provision in New Brunswick.
image:  https://streetsupport.net/assets/img/og/street-support-portsmouth.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: new-brunswick
page: new-brunswick-advice
location: new-brunswick
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/portsmouth/">New Brunswick</a></li>
      <li class="breadcrumbs__item"><a href="/portsmouth/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="new brunswick" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      <pSocial services organization in New Brunswick, New Jersey.</p>
      <p>To access a bed, people should visit the Catholic Charities Ozonam Inn  between 9am and 5pm, where bed spaces are allocated.</p>
      <p>If someone is unable to get to the Catholic Charities Ozonam Inn, they should contact:</p>
      <ul>
        <li><a href="http://www.ccdom.org/">Catholic Charities, 4 Roosevelt Ave, New Brunswick, NJ 08901</a></li>
        <li>telephone: <a href="tel:732 565 7974">732 565 7974</a></li>
      </ul>
      <p>This service is provided by Catholic Charities.</p>
    </div>

    {{> social-share}}
    
  </div>
</div>
