---
title: Severe Weather Emergency Accommodation in Camden - HTHW
description: Severe Weather Emergency Accommodation provision in Camden.
image: https://streetsupport.net/assets/img/og/street-support-stockport.jpg
layout: default.hbs
permalink: false
jsBundle: swep
section: camden
page: camden-advice
location: camden
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/stockport/">Camden</a></li>
      <li class="breadcrumbs__item"><a href="/stockport/advice/">Advice</a></li>
      <li class="breadcrumbs__item">Severe Weather Emergency Accommodation</li>
    </ol>
  </div>
</div>

{{> find-help/advice-header heading="Severe Weather Emergency Accommodation" theLocationId="camden" }}

<div class="block">
  <div class="container">
    <div class="block__content">
      
      <p>During periods of severe cold weather, additional emergency accommodation is provided by councils. This winter, we are aiming to provide A Bed Every Night for people who are homeless in Camden. Find out more at <a href="http://streetsupport.net/gm">streetsupport.net/gm</a>.</p>

      <ul>
        <li>Covenant House of Camden, 2113 Federal St, Camden, NJ 08105 Mon - Fri: 9am – 5pm</li>
        <li>Out of Hours 856 757 9111</li>
      </ul>
      
    </div>

    {{> social-share}}
    
  </div>
</div>
