---
title: About Our Team - HTHW
description: HTHW makes it easier to help people facing homelessness. Here is the team behind it.
image: https://streetsupport.net/assets/img/og/street-support.jpg
layout: default.hbs
permalink: false
jsBundle: generic
section: about
page: team
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item"><a href="/about/">About HTHW</a></li>
      <li class="breadcrumbs__item">Our Team</li>
    </ol>
  </div>
</div>

<div class="block block--header">
  <div class="container">
    <h1 class="h1 block__header">Our Team</h1>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block__content">

      <article class="team__member">
        <div class="team__member-title team__member-title--viv">
          <h2 class="h2">Michael Howlett - Co-Founder</h2>
        </div>
        <h4>Michael leads the team with PR, Development, Community engagements as well as serves as Director of HTHW</h4>
        <p>Michael has been homeless before, has struggled and pulled himself out with the help that was given. It is time to return the favor</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--gary">
          <h2 class="h2">Stian Folestaad - Co-Founder</h2>
        </div>
        <h4>Stian spearheads the digital currency community as well as takes lead with light development.</h4>
        <p>I have spent many years learning the tricks, the ins and outs of cryptocurrency. I hope to serve HTHW well.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--graham">
          <h2 class="h2">DuhJeff - Co-Founder</h2>
        </div>
        <h4>DuhJeff handles the daily marketing and contributes his digital currency knowledge to the trading aspect of digital currency.</h4>
        <p>DuhJeff has made a side living investing in various cryptocurrencies throughout the years to understand how to maximize trades. My goal is to increase value.</p>
      </article>
      
       <article class="team__member">
        <div class="team__member-title team__member-title--gary">
          <h2 class="h2">MrBlack - Co-Founder</h2>
        </div>
        <h4>MrBlack leads the charge in Europe.</h4>
        <p>Having access to Europe easier than the others, I play a vital role in EU integratioln. HTH is worldwide.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--mark">
          <h2 class="h2">DK808 - Co-Founder</h2>
        </div>
        <h4>DK808 leads the financial side of the digital currency division of HTHW.</h4>
        <p>DK808 has vast knowledge in tracking the blockchain transactions to ensure funding goes to the approriate places. The need for this technology is far greater than we expect.</p>
      </article>

      <article class="team__member">
        <div class="team__member-title team__member-title--dee">
          <h2 class="h2">Zues - Co-Founder</h2>
        </div>
        <h4>Zeus handles the web design and development</h4>
        <p>Zues brings a new and fresh image to the HTHW team with his advanced knowledge in the latest web designs. Please visit our site <a href="https://hthcoin.world/" title="HTHC">HTHC</a></p>
      </article>
      
      <article class="team__member">
        <div class="team__member-title team__member-title--dee">
          <h2 class="h2">Coderabbit -Co-Founder</h2>
        </div>
        <h4>Coderrabbit brings in the South Amnerican influencers and has the language capabilites needed for international fundraisers and partnerships.</h4>
        <p>Coderrabbit works hard in maintaing his many professions. His knowledge with coding is helpful with development. HTHW shall succeed with.</p>
      </article>
      
      <article class="team__member">
        <div class="team__member-title team__member-title--dee">
          <h2 class="h2">Cryptooutlaws - Co-Founder</h2>
        </div>
        <h4>Cryptooutlaws handles the daily finances for HTH. Ensures payments go to the correct places.</h4>
        <p>Being in Toronto, I see far too many go without, Its time to give back.</p>
      </article>
      
      <article class="team__member">
        <div class="team__member-title team__member-title--dee">
          <h2 class="h2">CircuitBreaker - Co-Founder</h2>
        </div>
        <h4>CircuitBreaker oversees the development of HTHW and HTHC, the digital currency of HTHW.</h4>
        <p>With the knowledge I have in computer programming and working with the HTH team, I know we can do great things.</p>
      </article>

      {{> divider }}

      <p>We also have help from some amazing digital experts as needed. Here are a few of the people that have helped us along the way&hellip;</p>

      <h2 class="h2">IamLegion - HTH Community Team Member</h2>
      <p>IamLegion has always served as an independant advisor and greatly supports decentralization that digital currency brings.</p>

      <h2 class="h2">Sinnx - HTH Community Team Member</h2>
      <p>Sinnx provides the HTH Community with a safe community to be involved with. His level of care for others outmatches any who we have worked with.</p>

      <h2 class="h2">Arwed - HTH Community Team Member</h2>
      <p>Arwed brings a realiztic approach to everything and keeps the entire team down to Earth.</p>

      <h2 class="h2"FabiYamada - HTH Community Team Member</h2>
      <p>Fabi is the reason why we have graphic designs. She brings a special touch to HTHW.</p>

      <h2 class="h2">Sub307 - HTH Community Team Member</h2>
      <p>Sub307 handles the cryptocurreny explorer where anyone can see the transactions of HTHC.</p>

      {{> social-share}}
    </div>
  </div>
</div>
