---
title: HTHW Trenton - Working together to end homelessness in Trenton
description: HTHW - Find help, and give help, to support people who are homeless in Trenton
image: https://streetsupport.net/assets/img/og/street-support-southampton.jpg
layout: withGoogle.hbs
permalink: false
jsBundle: location-home-page
section: home
page: trenton
location: trenton
---

<div class="block block--breadcrumbs">
  <div class="container">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="/">Home</a></li>
      <li class="breadcrumbs__item">Trenton</li>
    </ol>
  </div>
</div>

<div class="block block--location-header location-header location-header--trenton">
  <div class="container">
    <h1 class="h1 block__header">HTHW Trenton</h1>
    <h2 class="h2 block__sub-header">Connecting people and organizations locally, to end homelessness in Trenton.</h2>
    <div class="ctas">
      <a href="/find-help" class="btn btn--brand-d">
        <span class="btn__text">Find Help</span>
      </a>
      <a href="/give-help" class="btn btn--brand-e">
        <span class="btn__text">Give Help</span>
      </a>
    </div>
  </div>
</div>

<div id="js-swep-output"></div>

<div class="block">
  <div class="container">
    <div class="home__copy home__copy--padding">
      <h1 class="h2">You're in Trenton</h1>
      {{> locations/find-help }}
      {{> locations/selector-hogan }}
    </div>
    <div class="home__copy">
      <div class="js-map"></div>
    </div>
  </div>
</div>

<div id="js-statistics-output"></div>

<div class="block block--soton-charter">
  <div class="block__soton-charter">
    <div class="block__soton-charter-buildings">
      <div class="content">
        <div class="title">
          <h1Rescue Mission</h1>
          <h2 class="h3">Trenton</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="home__copy home__copy--soton-charter">
    <h1>Rescu Mission</h1>
    <p>Join us in our vision for Trenton - A city where no-one needs to be homeless.</p>
    <a class="btn btn--brand-e" href="https://spark.adobe.com/page/9w36MxwzN5pvN/">
      <span class="btn__text">Click here to find out more</span>
    </a>
  </div>
</div>

<div class="block block--minor-highlight">
  <div class="container container--central-cta">
    <div class="block__content block__content--central-cta block__content--join-mailing-list">
      <h1 class="h2">Get in touch</h1>
      <p>If you would like to get involved, or have any offers, questions or suggestion, please get in touch at <a href="mailto: hthcoin@gmail.com">hthcoin@gmail.com</a>.</p>
    </div>
  </div>
</div>

<div id="js-news-output"></div>

<div class="block block--highlight block--promo">
  <div class="container">
    <div class="block__content partners">
      {{> trenton/supporters }}
      <p>We are looking for businesses and organizations to <a href="/give-help/business-support/">support us</a> so that we can continue to develop this resource.</p>
      <p>If you share our vision of a society without homelessness, please <a href="mailto:support@hthcoin.world">get in touch</a>.</p>
    </div>
  </div>
</div>

{{> loading-spinner}}

<script id="js-swep-tpl" type="text/template">
{{> find-help/swep-notification theLocationId="Trenton" }}
</script>

<script id="js-news-tpl" type="text/template">
    {{>news-posts }}
</script>

<script id="js-statistics-tpl" type="text/template">
  {{> impact-statistics }}
</script>
